
<div class="card-header py-3 ">

  <p class="text-primary m-0 font-weight-bold">
    HISTÓRICO PMJP:
    &nbsp;&nbsp;
    <label for="monthpicker" class="text-secondary">Competência: &nbsp;</label>
    <p-calendar [(ngModel)]="competencia" view="month" (click)="listar()" [style]="{'width':'7%'}" [inline]="false" dateFormat="mm/yy" [yearNavigator]="true" [yearRange]="anoReferencia" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
  </p>

</div>

<!-- INICIO - LISTAR -->
<div class="card-body">
  <div class="row">
    <div class="table-responsive table mt-2" id="dataTable1" role="grid" aria-describedby="dataTable_info">
      <p-table class="table my-0" id="dataTable" [rowHover]="true" [value]="historico" [loading]="loading">
        <ng-template pTemplate="caption">
          Agendamentos e operações do bot:
          <button type="button" (click)="listar();" style="margin: 0 5px;" class="btn btn-dark btn-sm float-right">
            <i class="fa fa fa-bolt"> ATUALIZAR </i>
          </button>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Código do Cliente</th>
            <th>Nome do Cliente</th>
            <th>Data Agendamento</th>
            <th>Data Solicitação</th>
            <th>Status Atualização</th>
            <th>Status</th>
            <th>Mensagem Erro</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-his>
          <tr>
            <td>{{his.codigoCliente}}</td>
            <td>{{his.nomeCliente}}</td>
            <td>{{his.dataAgendamento | date: 'dd/MM/yyyy'}}</td>
            <td>{{his.dataSolicitacao | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{his.statusAtualizacao | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{his.status}}</td>
            <td>{{his.mensagemErro}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="6">
              Não exite histórico de operações para a competência informada.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- FIM - LISTAR -->



