/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.rolagem {
    height: 300px;
    overflow-y: scroll;
}

textarea {
    resize: none;
}


