
<div class="card-header py-3">
  <p class="text-primary m-0 font-weight-bold">
    DECLARAÇÃO DE SERVIÇOS PMJP
    &nbsp;&nbsp;
    <label for="monthpicker" class="text-secondary">Competência: &nbsp;</label>
    <p-calendar [(ngModel)]="competencia"
                view="month" [style]="{'width':'7%'}" [inline]="false" dateFormat="mm/yy" [yearNavigator]="true" [yearRange]="anoReferencia" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
  </p>

</div>

<!-- INICIO - LISTAR -->
<div class="card-body">
  <div class="row">
    <div class="table-responsive table mt-2" id="dataTable1" role="grid" aria-describedby="dataTable_info">
      <p-table #dt2 class="table my-0" id="dataTable" (change)="clienteSelecionado($event)" [(selection)]="clientesSelecionados" [rowHover]="true" [value]="clientes"
               [loading]="loading" [globalFilterFields]="['codigo','nomeFantasia']" [lazy]="true" (onLazyLoad)="loadClientes($event)">
        <ng-template pTemplate="caption">
         Meus Clientes
          <button type="button" style="margin: 0 2px;" (click)="downloadPorCompEEmpresa()" class="btn btn-warning btn-sm float-right" title="Baixar todos os arquivos">
            <i class="fa fa-download"> BAIXAR TODOS</i>
          </button>
          <button type="button" (click)="preparaAgendarTodos(); open(executarTodos);" style="margin: 0 5px;" *ngIf="clientesSelecionados.length == 0" class="btn btn-danger btn-sm float-right"  title="Agendar para todos os clientes">
            <i class="fa fa fa-play"> AGENDAR TODOS </i>
          </button>
          <button type="button" (click)="preparaAgendarSelecionados(); open(executarSelecionados);" style="margin: 0 5px;" *ngIf="clientesSelecionados.length > 0" class="btn btn-primary btn-sm float-right">
            <i class="fa fa fa-play"> AGENDAR SELECIONADOS</i>
          </button>

        </ng-template>

        <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
          <th pSortableColumn="nomeFantasia">Nome do Cliente <p-sortIcon field="nomeFantasia"></p-sortIcon></th>
          <th>CNPJ</th>
          <th>Ações</th>
        </tr>
          <tr>
            <th></th>
            <th>

            </th>
            <th>
              <p-columnFilter type="text" field="nomeFantasia" ></p-columnFilter>
            </th>
            <th>

            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-clien>
          <tr class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="clien"></p-tableCheckbox>
          </td>
          <td>{{clien.codigo}}</td>
          <td>{{clien.nomeFantasia}}</td>
          <td>{{clien.cnpj | CNPJ }}</td>
          <td>
            <div class="btn-toolbar">

              <button type="button" style="margin: 0 2px;" (click)="preparaExecutarAgora(clien); open(executarAgora);" class="btn btn-primary btn-sm" title="Entregar agora"><i class="fa fa-play"></i></button>
              <button type="button" style="margin: 0 2px;" (click)="downloadPorCompECliente(clien)" class="btn btn-warning btn-sm" title="Baixar arquivos por competência e cliente"><i class="fa fa-download"></i></button>

            </div>
          </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="5">
              Não exite clientes cadastrados para sua empresa.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        [rows]="size"
        [totalRecords]="totalElementos"
        (onPageChange)="paginate($event)">
      </p-paginator>
    </div>
    <!-- FIM - LISTAR -->

    <!-- MODAL AGENDAR-->
    <ng-template #executarAgora let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Executar Declaração de Serviços: </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Competência: </label>
          <p-calendar [(ngModel)]="competencia" view="month" [style]="{'width':'20%'}" [inline]="false" dateFormat="mm/yy" [yearNavigator]="true" [yearRange]="anoReferencia" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
        </div>
        <div class="form-group">
          <label>Cliente selecionado: </label>
          {{cliente.codigo}} - {{cliente.nomeFantasia}}
        </div>
        <button type="button" (click)="executarBotAgora(); modal.close('Save click')" style="margin: 0 5px;" class="btn btn-primary btn-sm float-right">
          <i class="fa fa fa-play"> Executar Bot</i>
        </button>
      </div>
    </ng-template>

    <ng-template #executarSelecionados let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agendar Declaração de Serviços: </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Competência: </label>
          <p-calendar [(ngModel)]="competencia" view="month" [style]="{'width':'20%'}" [inline]="false" dateFormat="mm/yy" [yearNavigator]="true" [yearRange]="anoReferencia" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
        </div>
        <div class="form-group">
          <label>Total de clientes selecionados: </label>
          {{clientesSelecionados.length}}
        </div>
        <div class="form-group">
          <label>Data agendamento: *</label>
          <p-calendar [(ngModel)]="dataAgendamento" [inline]="true"></p-calendar>
        </div>

        <button type="button" (click)="executarBotSelecionados(); modal.close('Save click')" style="margin: 0 5px;" class="btn btn-primary btn-sm float-right">
          <i class="fa fa fa-play"> Agendar Bot</i>
        </button>
      </div>
    </ng-template>

    <!-- MODAL EXECUTAR AGORA-->
    <ng-template #executarTodos let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Entregar Declaração de Serviços: </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body rolagem">
        <div class="form-group ">
          <label>Competência: </label>
          <p-calendar [(ngModel)]="competencia" view="month" [style]="{'width':'20%'}" [inline]="false" dateFormat="mm/yy" [yearNavigator]="true" [yearRange]="anoReferencia" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
        </div>
        <div class="form-group">
          <label>Total de clientes: </label>
          {{clientes.length}}
        </div>
        <button type="button" (click)="executarBotTodos(); modal.close('Save click')" style="margin: 0 5px;" class="btn btn-primary btn-sm float-right">
          <i class="fa fa fa-play"> Executar Bot</i>
        </button>
      </div>
    </ng-template>
